
*.db
*.opendb
*.ipch
*.json
*.vcxproj
*.sln
.vs/Vulkan-Project/v16/.suo
*.db-wal
*.pdb
*.obj
*.exe
*.tlog
*.log
*.idb
*.db-shm
*.enc
*.ilk
*.user
*.xcworkspacedata
*.plist
*.xcuserstate
*.pbxproj
Dependencies/.DS_Store
.DS_Store
