[submodule "Dependencies/GLFW"]
	path = Dependencies/GLFW
	url = https://github.com/Mumsfilibaba/glfw
[submodule "Dependencies/glm"]
	path = Dependencies/glm
	url = https://github.com/g-truc/glm
[submodule "Dependencies/tinyobj"]
	path = Dependencies/tinyobj
	url = https://github.com/tinyobjloader/tinyobjloader
[submodule "Dependencies/Imgui"]
	path = Dependencies/Imgui
	url = https://github.com/Mumsfilibaba/imgui.git
	branch = docking
